In [2]:
import sqlite3
import pandas as pd
from pathlib import Path

In [3]:
# Path to your database
db_path = Path("../data/output/bubble_info.db")

# Connect to the database
conn = sqlite3.connect(db_path)

# Show all available tables
tables_df = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn)
print("Available Tables:")
print(tables_df)

Available Tables:
              name
0             runs
1  sqlite_sequence
2     zone_metrics

In [4]:
 #Example: Read the contents of the first table found
if not tables_df.empty:
    table_name = tables_df.iloc[0, 0]  # Get the first table name
    print(f"\nReading table: {table_name}")
    df = pd.read_sql_query(f"SELECT * FROM {table_name}", conn)
    display(df.head())
else:
    print("No tables found in the database.")

# Close the connection
conn.close()

Reading table: runs

   id                run_name
0   1  test_3img_preprocessed
1   7  test_5img_preprocessed